@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  font-weight:300;
  direction: rtl;
 /* overflow-x: hidden; */
}
body.FrenchActive {
  direction: ltr;
}
.singlepage .error{
  display: flex;
  justify-content: start;
  gap: 10px;
  font-size: 0.8rem;
  color:#dd3c4cab;
  align-items: center;
  font-family: "Cairo", sans-serif;
}
.singlepage .error i{
  font-size: 1rem;
  transform: translateY(4px);
}


:root{
  --btn1-color: #216bc4; /* Default color */
  --hover1-color: #185cb0; /* Default color */
  --btn2-color: #2f3132; /* Default color */
  --hover2-color: #000000; /* Default color */
  --btn3-color: #d30e0e; /* Default color */
  --hover3-color: #a70a0a; /* Default color */
  --colorp: #678e61 ; /* Default color */
  --opacity:rgb(153, 160, 153) ; /* Default color */
  --opacity-border:rgba(195, 197, 195, 0.721); /* Default color */
  --background1:#181c2c; /* Default color */
  --backgroundP:#214343;
  --sumibackground:#d8e6d1;
  --yellow:#d4ae0d;
  --side-dark:#161b2e;
  --text-dar:#787d8a;
  --bg-dark:#111525;
  --items-dark:#161c31;
  --side-light:#fff;
  --items-light:#fff;
  --text-light:#000000;
  --text-light-opa:#3b3a3a;
  --bg-container:#f6f8fb;
  --td-even-light:#f6f8fb;
  --td-odd-light:#ffffff;
  --td-even-dark:#f6f8fb;
  --td-odd-dark:#ffffff;
}
.imageuploadshow {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 10px;
}
.checkempty{
  color: red;
  font-size: 0.8rem;
}
#submitbtn{
  padding: 10px 15px;
  width: max-content;
  background-color: var(--btn2-color);
  color: #fff;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
}

#scrollUpBtn {
  position: fixed;
  bottom: 100px;
  right: 20px;
  z-index: 99;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--backgroundP);
  color: #fff;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: none;
  font-size: 1.3rem;
  align-items: center;
  justify-content: center;
}


.menuHeader{

  font-size: 1.5rem;
  border: none;
 background: none;
  color: #fff;
  cursor: pointer;
  position: relative;

}
#submitbtn:hover{
  background-color: var(--hover2-color);
}
.icons{
  width: 15px;
}
.circllogo{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;

}
.iconlarge{
  width: 20px;
  height: 20px;
}
#linkd{
  color:#ffffffd0 ;
  text-decoration: none;
}
#linkl{
  color:#000000d0 ;
  text-decoration: none;
}
.logowebsite{
width: 100px;
}
.logoweb{
width: 70px;
height: 30px;
}
.largeLogo{
width: 150px;
}
.largeLogo .inputs{
width: 100%;
}
#small_image{
width: 50px;
height: 50px;
border-radius: 50px;
overflow: hidden;
}
#img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* img{
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.Admin_Layout{
  display: flex;
  flex-direction: column;
  width: 100%;

}
.Admin_Layout .flex{
  display: flex;
  width: 100%;

}
.HeaderDash{
  padding: 10px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  background: var(--side-light);
  color: var(--text-light);
  display: flex;
  justify-content: space-between;
  align-items:center;
  z-index: 999;
}
body.changemode .HeaderDash{
  background: var(--side-dark);
  color: var(--text-dar);
}
.HeaderDash .logoC{
 display: flex;
 gap: 10px;
 align-items:center;

}
.HeaderDash .logoC .info{
 display: flex; 
 flex-direction: column;

line-height: 10px;

}
.HeaderDash .logoC .info #name{
font-size: 0.8rem;
font-weight: bold;
}
.HeaderDash .logoC .info #role{
font-size: 0.7rem;
}
.HeaderDash .more{

  display:flex;
  gap: 6px;
}
.HeaderDash .more .search input{
 padding: 6px;

 background:var(--items-light);
 border: 1px solid #8b8b8b7f;

}
body.changemode .HeaderDash .more .search input{
 background:var(--items-dark);
 border: 1px solid #8b8b8b7f;

}
.HeaderDash .more .search input:focus{
   outline: 1px solid #9f9e9e;
}
.HeaderDash .more  .btn{
 padding: 6px;
 background:var(--items-light);
 border: 1px solid #8b8b8b7f;
 color: var(--text-light);
 font-size: 0.7rem;
 cursor: pointer;
}
body.changemode .HeaderDash .more .btn{
 background:var(--items-dark);
 color: var(--text-dar);
}
.HeaderDash .more  .icon{
  background:var(--items-light);
 border: 1px solid #8b8b8b7f;
 color: var(--text-light);
 width: 30px;
 height: 30px;
 display: flex;
 align-items: center;
 justify-content: center;
}
body.changemode .HeaderDash .more  .icon{
  background:var(--items-dark);
  color: var(--text-dar);
 }
.Admin_Layout .container{
  box-sizing: border-box;
  padding: 20px;
  width: 90%;
  background-color: var(--bg-container);
  
}
body.changemode .Admin_Layout .container{
  background-color: var(--bg-dark);
  
}
.Sidebar{
  width: 200px;
  height: 100vh;
  background-color: var(--items-light);
  color:var(--text-light);
  position: fixed;
}
body.changemode .Sidebar{
  background-color: var(--side-dark);
  color:var(--text-dar) ;
}
.fakesidebar{
  width: 200px;
  height: 100vh;
  background-color: var(--side-dark);
  color:var(--text-dar) ;
}
body.changemode .fakesidebar{
  background-color: var(--side-dark);
  color:var(--text-dar) ;
}
.Sidebar .logo{
  width: 40%;
}
.Sidebar .ul{
  padding: 0;
  margin: 10px 0px;
  list-style: none;
}
.Sidebar .ul li{
 font-size: 0.9rem;
 display: flex;
 align-items: center;
 gap: 10px;
 box-sizing: border-box;
 padding: 8px 10px;
 cursor: pointer;
}
.Sidebar #li{
  display: flex;
  justify-content: space-between;
}
.Sidebar  .ul1{
  height: 0;
  overflow: hidden;
}
.Sidebar.dropdown .ul1{
  height: max-content;

}
.Sidebar .first{
  display: flex;
  align-items: center;
  gap: 10px;
}
 .head_sidebar{
  display: flex;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;

}
 .head_sidebar i{
  font-size: 1.2rem;
 
}
.Sidebar .checked{
  background:#106ce5 ;
    color: #fff;
}
body.changemode .Sidebar .checked{
  background:linear-gradient(to top,#3f3163,#452c62) ;
    color: #fff;
}
.headerCreate{
  width: 100%;
  display: flex;
  justify-content: space-between;
 box-sizing: border-box;
 align-items: center;
 position: relative;
}
.featured #send{
  padding: 10px;
  background: #216bc4;
  color: #fff;
  border: none;
  font-size: 0.7rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.featured #send:hover{
  background: rgb(37, 113, 200);
 
}
.featured .savebtnf{
  display: flex;
  gap: 10px;
  box-sizing: border-box;
  padding:20px 0px 0px 20px;
  background: var(--items-light);
  width: 100%;
  display: flex;
  
}
 .Destination{
  display: flex;
  gap: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--text-dar);
}
 .Destination #section{
color: #0f83dc;
}
.formbutton{
  cursor: pointer;
  display: flex;
  justify-content: center;
  border: none;
  background: none;
}
.Dashboard {
width: 100%;
display: flex;
flex-direction: column;
gap: 20px;
}
.Dashboard .content{
width: 100%;
}
.Dashboard .content .count_dashboard{
width: 100%;
}
.Dashboard .Cards{
width: 100%;
display: grid;
grid-template-columns: repeat(4,1fr);
gap: 20px;
}
.Dashboard .Card{
color: #fff;
height: 130px;
border-radius: 10px;
box-sizing: border-box;
padding: 20px;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: center;
box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.05);
}
.Dashboard .Card .subtitle{

}
.Dashboard .Card .count{
font-size: 3rem;
}
.analytics_items{
  display: flex;
  justify-content: space-between;
  padding:10px;
  box-sizing: border-box;
  margin-top: 20px;
  background-color: var(--items-dark);
  color: var(--text-dar);
  
}
.analytics_items .item{
  width: 24%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  border: 1px solid #97959568;
  border-radius: 5px;
}

.analytics_items .item .icon{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.analytics_items .item .pic{
  width: 30px;
  height: 30px;
}
.analytics_items .item .content_item{
display: flex;
flex-direction: column;

}
.analytics_items .item b{
font-size: 1.3rem;
}
.Topvisitpage{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--items-dark);
  color: var(--text-dar);
  box-sizing: border-box;
  padding: 10px;
}
.Topvisitpage .head_top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Topvisitpage .head_top select{
  height: max-content;
  padding: 10px;
  border: none;
  color: #000000a1;
  font-size: 1rem;
  background: var(--items-dark);
  color: var(--text-dar);
}
.Topvisitpage table{
width: 100%;
}
.Topvisitpage table td{
box-sizing: border-box;
padding: 10px;

}
.Topvisitpage table tbody td{
  color: #0f83dc;
}
tr:nth-child(even) td {
  background-color: var(--td-even-light);
}
body.changemode tr:nth-child(even) td {
  background-color: var(--td-odd);
}

/* Style for odd rows */
tr:nth-child(odd) td {
  background-color: var(--td-odd-light);
}
body.changemode tr:nth-child(odd) td {
  background-color: #282f38;
}
.VisitePages{
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2,1fr);
  margin-top: 30px;

}
.Admin_Layout .Products{
width: 100%;

}
.Admin_Layout .Products .filter{
box-sizing: border-box;
padding: 10px;
background: #fff;
display: flex;
justify-content: space-between;
}
.Admin_Layout .Products .filter #search{
border:1px solid #797777a1;
padding: 5px 10px;
outline: none;
}
.Admin_Layout .Products .filter .side{
display: flex;
gap: 10px;
}
.Admin_Layout .Products .filter .side button{
padding:8px 10px;
display: flex;
align-items: center;
gap: 5px;
cursor: pointer;
border:none;
box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.05);
border-radius: 4px;

}
.Admin_Layout .Products .filter .side #filter{
  background-color: rgb(30, 29, 30);
  color: #fff;

}
.Admin_Layout .Products .filter .side #new{
  background-color: rgb(81, 17, 141);
  color: #fff;

}
.Admin_Layout .Products .filter .side #load{
  background-color: rgb(30, 29, 30);
  color: #fff;
}
.listofproduct{
  width: 100%;
}
.listofproduct table{
  width: 100%;
}
.listofproduct table #instock{
color: rgb(10, 222, 10);
}
.listofproduct table td{
  padding: 10px;
  box-sizing: border-box;
}
.listofproduct table .lang{
display: flex;
gap: 10px;
align-items: center;
justify-content: center;
}
.listofproduct table .lang button{
font-size: 1rem;
width: 30px;
height: 30px;
}
.listofproduct table #check{
color: rgb(68, 201, 68);
}
.listofproduct table td .btn{
border: none;
color: #fff;
width: 30px;
height: 30px;
border-radius: 4px;
font-size: 1rem;
cursor: pointer;
}
.listofproduct .ac{
  display: flex;
  gap: 10px;
}
.listofproduct .lang button{
border:none;

}
.listofproduct table td .edit{
  background-color: #0f83dc;
}

.listofproduct table td .delete{
  background-color: #ce4611;
}
.Createproduct .Destination span{
font-size:0.7rem;
}
.Createproduct .grid_two{
display: grid;
grid-template-columns: 70% 27%;
gap: 20px;
margin-top: 30px;
}
.Createproduct .grid_two .sect{
box-sizing: border-box;
padding: 20px;
background-color:var(--items-light);
}
body.changemode .Createproduct .grid_two .sect{
background-color:var(--items-dark);
}
.Createproduct .grid_two .Info{
  background: var(--items-light);
  color: var(--text-light);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
body.changemode .Createproduct .grid_two .Info{
  background: var(--items-dark);
  color: var(--text-dar);
}
.Createproduct .grid_two .Info .head,.Createproduct .grid_two .SEO .head{
 display: flex;
 gap: 10px;
 align-items: center;
 
}
.Createproduct .grid_two .Info .head #name{
  font-size: 0.9rem;
  
}
.Createproduct .grid_two .Info .head #def{
  font-size: 0.7rem;
  color: var(--text-light-opa);
  
}
.Createproduct h2{
  font-size: 0.9rem;
  margin:10px 0;
  color: var(--text-light);
}
body.changemode .Createproduct h2{
  color: var(--text-dar);
}
.Createproduct .grid_two .Info #att,.Createproduct .grid_two .SEO #att{
padding:8px 10px;
outline: none;
border: 1px solid #413f3f5a;
width: 90%;
background-color: var(--items-light);
color: var(--text-light);
}
body.changemode .Createproduct .grid_two .Info #att,body.changemode .Createproduct .grid_two .SEO #att{
background-color: var(--bg-dark);
color: var(--text-dar);
}
.Createproduct .grid_two .Info #att:focus,.Createproduct .grid_two .SEO #att:focus{
box-shadow: 0px 0px 10px 2px #0f83dc56;

}
.Createproduct .grid_two .Info #att::placeholder,.Createproduct .grid_two .SOE #att::placeholder{
color: var(--text-light);
}
body.changemode .Createproduct .grid_two .Info #att::placeholder,body.changemode .Createproduct .grid_two .SOE #att::placeholder{
color: var(--text-dar);
}
.Createproduct .grid_two .Info .title #ob{
color: #ce4611;
}
.Createproduct .grid_two .Info .title{
display: flex;
flex-direction: column;
gap: 5px;
}
.Createproduct .Description{
  position: relative;
  box-sizing: border-box;
padding: 20px;
background-color: #fff;

}
.Createproduct .grid_two  #add_property{
width: 20px;
height: 20px;
background: #000;
color: #fff;
display: flex;
align-items: center;
justify-content: center;
border: none;
cursor: pointer;

}
.Createproduct .grid_two .add{
display: flex;
justify-content: end;
position: relative;

}
.Createproduct .grid_two .add .property{
background-color: #fff;
box-sizing: border-box;
padding: 10px;
gap: 10px;
border: 1px solid #5e5c5c3b;
position: absolute;
top: 30px;
display: none;
}
.Createproduct .grid_two .add.clickadd .property{
  display: flex;
}
.Createproduct .grid_two .property button{
  border: 1px solid #5e5c5cb0;
  background:none ;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Upload{
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #9d9b9b64;
  width: 70%;
}

.Upload .up_content{
 display: flex;
 flex-direction: column;
 gap: 10px;
}
.Upload .btn{
  padding: 7px 10px;
  border: none;
  background: var(--btn1-color);
  color: #fff;
  cursor: pointer;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.8rem;
}
.Upload #note{
color: #0f83dc;
}
.Upload p{
margin: 0;
}
.Upload .note{
display: flex;
width: 100%;
gap: 10px;
}
.Upload #i{
background-color: var(--btn1-color);
color: #fff;
width: 20px;
height: 20px;
display: flex;
align-items: center;
justify-content: center
}
.Upload p{
font-size: 0.9rem;
color: var(--text-light-opa);
}

.Notifications{
  width: max-content;
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 999;
  animation:message 0.3s linear;
  opacity: 1;

}
@keyframes message {
  0%{
    right: 0px;
    opacity: 0.5;
  }
  100%{
    right: 20px;
    opacity: 1;
  }
  
}
.Notifications .cardmessage{
  width: max-content;
  background-color: #fdd7ce;
  color: #6b6968;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}
.Notifications .Error{
  background-color: #fdd7ce;
  color: #6b6968;
}
.Notifications .warning{
  background-color: #bdea1ba8;
  color: #6b6968;
}
.Notifications .success{
  background-color: #79ee12a8;
  color: #6b6968;
}
.Notifications .Error #message{
  font-size: 0.8rem;
}
.Notifications #iconerr{
  font-size: 1rem;
color: #e9615d;
  
}

.Createproduct .elements{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px;
width: 100%;
min-height: 20vh;

}
 .btndesc{
/* padding:12px 20px; */
color: #ffff;
border: none;
border-radius: 20px;
cursor: pointer;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
}

.Createproduct .specialbtn{
padding:12px 20px;
background: #0f83dc;
color: #ffff;
border: none;
border-radius: 20px;
animation:btn 0.6s linear infinite;
cursor: pointer;
position: relative;
}
.Createproduct .btndesc:hover  .prop{
  display: flex;
}
.Createproduct .prop{
position: absolute;
color: #000;
width: max-content;
background: #fff;
top: 10px;
right: -100px;
border: 1px solid #6d6b6b7b;
box-sizing: border-box;
z-index: 999;
display: none;
}

.Createproduct .prop ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.Createproduct .prop ul li{
  box-sizing: border-box;
  padding: 6px;
  display: flex;
  justify-content: space-between;
}
.Createproduct .prop ul li:hover{
  background-color: #0f83dc;
  color: #fff;
}
.Createproduct .prop .content{
 position: relative;
}
.Createproduct .prop .another{
 position: relative;
}
.Createproduct .prop .content:hover .form{
  display: flex;
}
.Createproduct .prop .another:hover .buttons{
  display: flex;
}
.Createproduct .prop .content .form{
 position: absolute;
 left: 100%;
 top: 0;
 padding:5px;
 box-sizing: border-box;
 background-color: #fff;
 border: 1px solid #bcbbbb6b;
 align-items: center;
 gap: 6px;
 display: none;

}
.Createproduct .prop .another .buttons{
 position: absolute;
 left: 100%;
 top: 0;
 padding:5px;
 box-sizing: border-box;
 background-color: #fff;
 border: 1px solid #bcbbbb6b;
 align-items: center;
 gap: 6px;
 flex-direction: column;
 gap: 6px;
 display: none;

}

.Createproduct .prop .another .buttons button{
  width: max-content;
  padding: 10px;
}
.Createproduct .prop .content .form button{
  background: #000000;
  color: #fff;
  border: none;
  font-size: 0.7rem;
  cursor: pointer;
  padding:9px 4px;
  height: max-content;
}
.Createproduct .content .form input{
  padding: 10px;
  outline: none;
  border: 1px solid #bcbbbb6b;
}
.Createproduct .elements .f{
  border-bottom:1px solid #6d6b6b7b ;
}
.Createproduct .lic{
 font-size: 0.8rem;
}
@keyframes btn {
  0%{
    box-shadow: 0px 0px 10px 7px #2c9f0263;
  }
  100%{
    box-shadow: 0px 0px 6px 10px #277f0771;
    transform: scale(1.03);
  }
}
@keyframes btnform {
  0%{
    box-shadow: 0px 0px 6px 5px #dc0f0f58;
    transform: scale(1);
  }
  100%{
    box-shadow: 0px 0px 20px 10px #c809099a;
    transform: scale(1.1);
  }
}
.CustomCSS textarea{
  width: 90%;
  height: 200px;
  resize: none;
   outline: none;
   border: 1px solid #1c1b1b41;
}
.custom{
  position: relative;
}
.Status{
  height: max-content;
  background-color: #000;
}
.Createproduct .selectname{
  position: relative;
}
.Createproduct .property .selectname{
  position: relative;
 
}
.Createproduct .property .btn1:hover .placeholdername{
  display: block;
}
.Createproduct .property .btn2:hover .placeholdername{
  display: block;
}
.Createproduct .property .btn3:hover .placeholdername{
  display: block;
}
.Createproduct .property .placeholdername{
  position: absolute;
  left: 100%;
  top: 100%;
  background: #000;
  color: #fff;
  font-size: 0.8rem;
  box-sizing: border-box;
  padding: 5px;
  display: none;
}

.Createproduct .Form .input{
  position: relative;
}
 #finger{
  display: flex;
  gap: 5px;
  align-items: center;
  
}
#finger img{
  width: 20px;
}
.Createproduct .Form .head_form{
  width: 100%;
  height: 150px;
  overflow: hidden;

}
.Createproduct .Form .head_form img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.Createproduct .Form .formg{
  margin-top: 30px;
}

.Createproduct .Form select #option{
height: 100px;
}
.imageUp{
  cursor: pointer;
}
/* 
.Createproduct .grid_two .fakefeatured{
  display: flex;
  flex-direction: column;
  } */
.Createproduct .grid_two .featured{
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 50px;
  background: var(--bg-container);
  right: 0;
  overflow-y:scroll ;
  height: 80vh;
  margin-top: 40px;
  }
  .Createproduct .grid_two .featured::-webkit-scrollbar{
    display: none;
  }
.Createproduct .grid_two .btnc{
  display: flex;
  flex-direction: column;
  }
.EditElement {
  box-sizing: border-box;
  padding: 14px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.EditElement .changeprop {
  width: 100%;


}
.EditElement .changeprop #content{
  padding: 10px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  margin-top: 8px;


}
.Editform .changeprop #content{
  padding: 5px;


}
.Editform .changeprop #content::placeholder{
  font-size: 0.7rem;
  color: #000000a3;
}
.EditElement  .changeprop b{
  font-size: 0.9rem;
}
.EditElement  .changeprop .corner{
  display: flex;
  gap: 5px;
  align-items: center;
}
.EditElement  .changeprop .corner i{
  color: #0000007b;
}
.EditElement  .changeprop .back{
  display: flex;
  border: 1px solid #ffffff49;
  width: max-content;
  box-sizing: border-box;
  padding: 3px;
  margin-top: 8px;
}
.EditElement  .changeprop .back input{
 
 outline: none;
 
}
.EditElement  .changeprop .back:hover{
 border: 1px solid #b5b2b298;
}
.EditElement  .changeprop .back:hover #colorvalue{
 border-right: 1px solid #b5b2b298;

}
.EditElement  .changeprop .back #colorvalue{
  width: 50px;
  font-size: 0.9rem;
  border: none;
 
}
.EditElement  .changeprop .back #opacity{
  width: 40px;
  border: none;
}
.EditElement  .changeprop .back #color{
  width: 25px;
  cursor: pointer;
  border: none;
}
.featured  .headEdit{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.featured  #closeEdit{
 width: max-content;
 background: none;
 border: none;
 font-size: 1.5rem;
 cursor: pointer;
}
.featured  .btn{
border: none;
padding:7px 10px;
color: #fff;
cursor: pointer;
transition: 0.11s;
font-size: 0.6rem;
display: flex;
align-items: center;
gap: 6px;
}
.featured  .save{
background-color: var(--btn1-color);
}
.featured  .rightbtn{
display: flex;
gap: 7px;
}
.featured  .rightbtn I{
font-size: 0.8rem;
}
.featured  .save:hover{
  background-color:var(--hover1-color) ;
}
.featured  .reset{
background-color: var(--btn2-color);
}
.featured  .reset:hover{
  background-color:var(--hover2-color) ;
}
.featured  .delete{
background-color: rgb(183, 56, 50);
font-size: 2rem;
}
.featured  .delete:hover{
  background-color:var(--hover3-color) ;
}
.featured  .changeprop button{
padding: 6px;
background: #222121;
color: #fff;
font-size: 0.7rem;
float: right;
border: none;
cursor: pointer;
}
.featured  .changeprop button:hover{
  background: #000000;
}
.featured  .changeprop textarea{
resize: none;
width: 100%;
height: 200px;
}
.EditElement .classsection{
  display: flex;
  width: 100%;
}
.EditElement .classsection button{
  border-left:1px solid #33323258;
  background-color: var(--btn2-color);
  color: #fff;
  padding: 6px;
  width: 33%;
  cursor: pointer;
  font-size: 0.7rem;
}
.Features{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.SEO{
  display: flex;
  flex-direction: column;
 gap: 15px;
}
.SEO .indexSEO{
  display: flex;
align-items: center;
 gap: 15px;
}
.seobtn{
  display: flex;
  gap: 10px;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid var(--opacity-border);
  width: max-content;
  cursor: pointer;
  transition: 0.2s;
}
.SEO label{
width: max-content;
}
.imageseCupload{
display: flex;
gap: 20px;
align-items: center;
}
.seobtn i{
  font-size: 1.2rem;
}
.seobtn span{
  font-size: 0.9rem;
}
 .seobtn:hover{
  background-color: #e4dfdf91;
}
.SEO .title{
  display: flex;
  flex-direction: column;
 gap: 15px;
 color: var(--text-light);
}
body.changemode .SEO .title{
 color: var(--text-dar);
}
.SEO .title #name{
font-size: 0.9rem;
}
.SEO .indexSEO input{

}
.startsrl{
  width: max-content;

}
/* header  */
.Header{
  background: var(--backgroundP) ;
  box-sizing: border-box;
  padding: 15px 20px;
  color: #fff;
  border:1px solid #9894948e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
  font-size: 0.6rem;
  width: 100%;
  border: 1px solid var(--backgroundP) ;
}
.Header .ul{
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
}
.Header .mobilehidden{
  display: flex;
  position: relative;
  
}
.Header .s{
background-color: #dbdddf38;
padding: 10px;
box-sizing: border-box;
border-radius: 50%;
}
.Header .part{
display: flex;
gap: 20px;
align-items: center;
}
.Header .ul .li{
  display: flex;
  gap: 5px;
  align-items: center;
  color: #fff;
  cursor: pointer;
  font-size: 0.9rem;
  position: relative;
}
.Header .search{
display: flex;
width: 40%;
}
.Header .search input{
padding: 0.7rem 0.9rem; 
border: none;
outline: none;
width: 80%;
background: #f0f4f4;
border-radius: 6px 0px 0px 6px;
}
.Header .search button{
padding: 0px;
border: 2px solid var(--yellow);
outline: none;
font-size: 1.2rem;
/* background: linear-gradient(to right,#619e01,#72b709,#7ac30c); */
background: var(--yellow);
color: #fff;
width: 50px;

}
.Header .search button i{
transform: translateY(3px);
}
.Introduct{
  width: 100%;
  height: 90vh;
  background: var(--sumibackground)  ;
  box-sizing: border-box;
  padding: 60px;
  display: flex;
  color: var(--backgroundP);
  gap: 40px;
}
.Introduct .infoI{
display: flex;
flex-direction: column;
width: 50%;
color: var(--backgroundP);
animation:imageanimation 0.3s linear;

}
.Introduct .infoI h1{
 font-size: 4em;
 padding: 0;
 margin: 0;
 line-height: 70px;
 color: var(--backgroundP);
}
.Introduct .infoI .headI{
color: var(--backgroundP);
}
.Introduct .infoI .sub{
font-weight: bold;
color: var(--backgroundP);
}
#shopsection{
  transition: 1s;
  
}
.Introduct .infoI #shop{
padding: 13px 20px;
width: max-content;
background: var(--backgroundP);
color: #fff;
border: none;
border-radius: 20px;
font-size: 0.9em;
box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
cursor: pointer;
transition: 0.2s;
}
.Introduct .infoI #shop:hover{
  box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.1);
}
.Introduct .Image{
width: 50%;
position: relative;
}
.Introduct .Image .img{
border-radius: 50%;
overflow: hidden;
background: var(--yellow);
display: flex;
align-items: center;
justify-content: center;
box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
animation:imageanimation 0.2s linear;
animation: swim 2s infinite linear alternate; /* This line sets the animation */

}
@keyframes swim {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(20px);
  }
  100% {
      transform: translateY(0);
  }
}
@keyframes imageanimation {
  0%{
    opacity: 0;
    transform: translateY(-20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
.Introduct .Image .img1{
width: 300px;
height: 300px;
position: absolute;
left: 20px;
animation: swim 2s infinite linear alternate; /* This line sets the animation */
animation-delay: 0.5s;

}
.Introduct .Image .img2{
width: 100px;
height: 100px;
position: absolute;
right: 10px;
}
.Introduct .Image .img3{
width: 200px;
height: 200px;
position: absolute;
right: 20px;
bottom: 40px;
animation: swim 2s infinite linear alternate; /* This line sets the animation */
animation-delay: 0.7s;
}
.Introduct .Image img{
width: 100%;
}


.Topheader{
  padding: 7px;
  box-sizing: border-box;
  
}
.Topheader .p{

font-size: 0.7em;
  
}
.Homepage .Products{
display: flex;
flex-direction: column;
gap: 10px;
 
}
.Homepage .containerProducts{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 20px;
 
}
.Homepage .containerHome{
 box-sizing: border-box;
  padding: 10px 100px;
  display: flex;
  flex-direction: column;
  gap:10px;
}

.Homepage .Product{
display: flex;
flex-direction: column;
min-height: 300px;
cursor: pointer;
position: relative;
overflow: hidden;
min-width: 100px;

}
.Homepage .Products .best{
  width: 100%;
  text-align: center;
}
.Homepage .Product:hover .image{
transform: scale(1.1);

}
.Homepage .Product .image{
box-sizing: border-box;
background-color:#f7f7f7;
padding: 20px;
border-radius: 10px;
height: 70%;
transition: 0.2s;
position: relative;
}

.Homepage .Product .image .addto{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  border: none;
  background: #aca9a943;
 box-sizing: border-box;
 gap: 10px;
 align-items: center;
 justify-content: center;
font-weight: bold;
color: #6c6b6b;
cursor: pointer;
display: none;
}
.Homepage .Product .image .addto i{
  font-size: 1rem;
}
.Homepage .Product .info {
box-sizing: border-box;
padding: 6px 0px;
}
.Homepage .Product .info span{
color: #4d4a4a;
font-size: 0.7rem;
}
.Homepage .Product .info .title{
font-weight: bold;
font-size: 1.1em;
}
.Homepage .Product .info .price{
font-size: 1em;
}
.Homepage .Product .info .reviews{
display: flex;
align-items: center;
gap: 10px;
}
.Homepage .Product .info .review{
font-size: 0.8em;

}
.Homepage .Product .info .review i{
color: #fcb444
;

}
.Homepage .Product:hover .Side{
  width: max-content;
  padding: 20px;
 
}
 .CardSearchProduct {
  display: flex;
  gap: 30px;
}
 .CardSearchProduct .image{
 width: 20%;
}
 .CardSearchProduct .info{
font-size: 0.9rem;
}
 .CardSearchProduct .reviews{
display: flex;
gap: 10px;

}
 .CardSearchProduct .reviews .review{
color: #fcb444
}
 .CardSearchProduct .reviews{
display: flex;
gap: 10px;
}
.Homepage .Product .Side{
position: absolute;
left: 0;
top: 0;
transition: 0.2s;
height: 100%;
box-sizing: border-box;
padding:20px 0;
display: flex;
flex-direction: column;
gap: 20px;
width: 0;
overflow: hidden;
}
.Homepage .Product .Side .cara{
  width: 30px;
  height: 30px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.05);
  font-size: 1.1em;
  color: #aeacac;
  border: none;
  cursor: pointer;

}
.Homepage .Product .Side .cara:hover{
  color: #000000;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* text-align: center; */
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ReviewsC{
  margin-top: 60px;
}
.ReviewsC .title{
  margin-top: 60px;
  width: 70%;
  float: right;
}
.ReviewsC .title #span{
 color: var(--colorp);
}
.ReviewsC .logoR{
min-width: 200px;
height: 230px;
position: relative;
}
.ReviewsC .logoR .logo{
width: 100%;
height: 100%;
border-radius: 50%;
overflow: hidden;
}
.ReviewsC .logoR .ic{
  position: absolute;
  bottom: 0px;
  right: 0%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  background: var(--colorp) ;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}
.ReviewsC .contentR{
display: flex;
flex-direction: column;
gap: 10px;

}
.ReviewsC .ReviewT{
  display: flex;
  gap: 30px;
  width: 80%;
}
.ReviewsC .ReviewT .starC{
font-size: 1.5em;
color: #fcb444;
float: left;
}
.ReviewsC .ReviewT p{
font-size: 1.5em;

}
.ReviewsC .ReviewT .name{
display: flex;
flex-direction: column;
}
.ReviewsC .ReviewT .name span{
color: #0000009c;
}
.Homepage .Products  .headproducts{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Homepage .Products  .headproducts ul{
  display: flex;
  gap: 20px;
  list-style: none;
  
}
.Homepage .Products  .headproducts .checkcate{
color: var(--colorp);
font-weight: bold;
}

.Footer{
  width: 100%;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
  position: relative;
}
.Footer::after{
content: '';
width: 100%;
height: 100%;
top: 0;
position: absolute;
background: url("C837cs.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
z-index: -1;
opacity: 0.4;

}

.Footer .top{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 40px;
  box-sizing: border-box;
}
.Footer .introSite{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 6px;
 
}
.Footer .introSite .desc{
  width: 100%;
 font-size: 0.9em;
 
}
.Footer  #ul{
display: flex;
flex-direction: column;
gap: 15px;
font-size: 0.9em;
height: max-content;
 
}
.Footer  #ul #li{
color: #939191;
 
}
.Footer  #ul #p{
list-style: none;

 
}
.Footer  #ul #p h2{
margin: 0;
padding: 0;
}
.Footer .introSite .allmedia{
display: flex;

 gap: 10px;
}
.Footer .introSite .allmedia .media{
width: 40px;
height: 40px;
border: 1px solid #605e5e6d;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
font-size: 1em;
}
.Footer .categoriescollections{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 0.9em;
  padding: 20px 40px;
  box-sizing: border-box;
}
.Footer .categoriescollections .collection{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items:center;
}
.Footer .categoriescollections .collection ul{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
 margin: 0;
 padding: 0;
 color: #8c8989;
}
.Footer .categoriescollections .collection span{
  font-weight: bold;
}

.Footer .copyright{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: var(--backgroundP);
  color: #ffffffa7;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 20px;
}
.Footer .copyright ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 10px;
  margin: 0;
  padding: 0;
  
}
.Footer .copyright ul li{
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffffa7;
  
}
.Homepage .Guides ul{
list-style: none;
display: grid;
grid-template-columns: repeat(4,1fr);
border:1px solid #c1b7b77c;
width: 100%;
box-sizing: border-box;
padding: 10px;
}

.Homepage .Guides ul li{
align-items: center;
display: flex;
padding: 10px;
gap: 10px;
justify-content: center;
font-size: 1.1em;
}
.Homepage .Guides ul li i{
color: var(--backgroundP);
}
.Homepage .Guides ul #li{

border-right:1px solid #c1b7b77c;

}
.Shopping{
  width: 0px;
  height: 100vh;
  position: fixed;
  top: 0px;
background-color: #264159a3;
z-index: 999;

}
.Shopping .cardsSh{
width: 0px;
height: 100vh;
background-color: #fff;
position: relative;
top: 0px;
float: right;
box-sizing: border-box;
padding: 20px 0px;
overflow: hidden;
transition: 0.3s;
position: relative;
}
body.shoppingAc .Shopping {
width: 100%;
}
body.shoppingAc .Shopping .cardsSh{
  padding: 20px 20px;
  width: 300px;
}
.Shopping .cardsSh .headshop{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Shopping .cardsSh .headshop h3{
  padding: 0;
  margin: 0;
}
.Shopping .cardsSh .headshop .bx-x{
 font-size: 1.6em;
 cursor: pointer;
}

.Shopping .cardsSh .Emptycart .empty{
  width: 80%;
}
.Shopping .cardsSh .Emptycart{
display: flex;
flex-direction: column;
gap: 10px;
height: 100%;
justify-content: center;
align-items: center;
}
.Shopping .cardsSh .Emptycart button{
  padding: 10px;
  background: var(--colorp);
  color: #fff;
  border: none;
  cursor: pointer;
}

.Header .lan{
  display: flex;
  gap: 5px;
  align-items: center;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  position: relative;

}
.logoll{
  transform: translateY(-5px);
}

.Header .lan:hover .SwitchLangauge{
  pointer-events: auto;
  opacity: 1;
  transform: translateY(0px);
}
.SwitchLangauge{
  position: absolute;
  background-color: #fff;
  color: #000;
  top: 10px;
  left: 30%;
  width: 100px;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: 0.2s;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}

body.FrenchActive .SwitchLangauge{
  position: absolute;
  left: -60px;
}
.SwitchLangauge ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.SwitchLangauge ul li{
  box-sizing: border-box;
  font-size: 0.8em;
  padding:5px 8px;
  display: flex;
align-items: center;
gap: 10px;
}
.SwitchLangauge ul #lil{
  border-bottom: 1px solid #b5b1b1;

}
.lanmenu{
  position: relative;

}
.lanmenu .SwitchLangauge{
top: -50px;
left:0px;
width: 100%;
}
body.FrenchActive .lanmenu .SwitchLangauge{
top: -50px;
left: 0px;
}
.lanmenu:hover .SwitchLangauge{
  pointer-events: auto;
  opacity: 1;
  transform: translateY(0px);
}
.SearchEn{
  width: 88%;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  box-sizing: border-box;
  color: #000;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  font-size: 0.9rem;
}
.SearchEn ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.SearchEn ul li{
  box-sizing: border-box;
  padding: 8px 20px; 
}
.SearchEn ul #ids{
  border-bottom: 1px solid #6d6c6c44;
}

.ContainerBlogs{
  width: 100%;
  padding: 20px 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ContainerBlogs .ContainerB{
 display: grid;
 grid-template-columns: 70% 25%;
 gap: 40px; 
 width: 100%;
}
.ContainerBlogs .ContainerB .Blogs{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 gap: 10px;
 box-sizing: border-box;
}
.ContainerBlogs .ContainerB .Blogs .Blog {
/* box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.05); */
border: 1px solid #b7b7b76e;
overflow: hidden;
}
.ContainerBlogs .ContainerB .Blogs .Blog .img{
transition: 0.5s;
cursor: pointer;
}
.ContainerBlogs .ContainerB .Blogs .Blog:hover .img{
  transform: scale(1.1);
}
.ContainerBlogs .ContainerB .Blogs .Blog .datecreate{
font-size: 0.6em;
color: #636161;
}
.ContainerBlogs .ContainerB .Blogs .Blog .desc{
font-size: 0.6em;
color: #636161;
}
 
.ContainerBlogs .ContainerB .Blogs .Blog .desc{
font-size: 0.7em;
color: #636161;
}
.ContainerBlogs .ContainerB .Blogs .Blog #red{
font-size: 0.7em;
color: #636161;
border: none;
width: max-content;
background: none;
display: flex;
gap: 10px;
align-items: center;
cursor: pointer;
transition: 0.2s;
}
.ContainerBlogs .ContainerB .Blogs .Blog #red i{
  font-size: 1.2em;
  transition: 0.2s;
}
.ContainerBlogs .ContainerB .Blogs .Blog #red:hover{
  color: var(--colorp);
}
.ContainerBlogs .ContainerB .Blogs .Blog #red:hover i{
 transform: translateX(5px);
}
 
.ContainerBlogs .ContainerB .Blogs .Blog .info{
display: flex;
flex-direction: column;
gap: 10px;
box-sizing: border-box;
padding:14px 20px;
}
 
.ContainerBlogs .SideBlog{
box-sizing: border-box;
display: flex;
flex-direction: column;
gap: 20px;

}
 
.ContainerBlogs .SideBlog .searchblog{ 
width: 100%;
display: grid;
grid-template-columns: 70% 20%;
display: flex;


}
.ContainerBlogs .SideBlog .searchblog .i{ 
padding: 8px;
border: 1px solid #c8c3c3;
outline: none;
}
.ContainerBlogs .SideBlog .searchblog .button{
  background: none;
  border-left: none;
  font-size: 1em;
}
.ContainerBlogs .SideBlog .searchblog .input{
  padding: 0px 20px;
  border-right: none;
  font-size: 0.8em;
}
.ContainerBlogs .SideBlog h4,.ContainerBlogs .SideBlog h3{
  padding: 0px;
  margin: 0px;

}
.ContainerBlogs .SideBlog .aboutbloger{
  border: 1px solid #e2dbdbd8;
  box-sizing: border-box;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}
.ContainerBlogs .SideBlog .aboutbloger .des{
width: 80%;
font-size: 0.8em;
text-align: center;
margin-top: 10px;
}

.ContainerBlogs .SideBlog .aboutbloger #job{
font-size: 0.8em;
color: #868282;
}
.ContainerBlogs .SideBlog .aboutbloger .pic{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
 
.ContainerBlogs .SideBlog .LatestBlogs{
  border: 1px solid #e2dbdbd8;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
 

}
.CardLatest{
  width: 100%;
  display: flex;
  gap: 10px;
  font-size: 0.8em;
  align-items: center;


}
.CardLatest {
  border-top: 1px solid var(--opacity-border);


}
.CardLatest .img{
  width: 100px;
  height: 50px;
}
.CardLatest .info{
  box-sizing: border-box;
  padding: 10px;
}
.CardLatest span{
 font-size: 0.7rem;
 color:var(--opacity) ;
}
.SideBlog .Categories{
  border: 1px solid #e2dbdbd8;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}
.SideBlog .Categories ul{
  box-sizing: border-box;
  font-size: 0.8rem;
  margin: 0;
  padding: 0px 20px;
  
}
.SideBlog .Categories ul li{
  color: var(--opacity);
  cursor: pointer;
}
.SideBlog .Categories ul li:hover{
  color: #000;
}



.Subscribe{
  width: 100%;
  background: var(--backgroundP);
  box-sizing: border-box;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.Subscribe::before{
  content: '';
  position: absolute;
  background: url('Images/cta-shape-1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 300px;
  height:100%;
  z-index: -1;
  left: 0;
  bottom: -10px;
}
.Subscribe .itemS{
display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  60px 80px;
  box-sizing: border-box;
  width: 100%;
  
}
.Subscribe #sale{
font-weight: bold;
font-size: 0.8rem;
}
.Subscribe #sub{
font-weight: bold;
font-size: 1.5rem;
}
.Subscribe .subs{
display: flex;
width: 40%;
}
.Subscribe .subs input{
  padding: 1rem;
outline: none;
border: none;
font-size: 0.7rem;
width: 80%;
}
.Subscribe .subs button{
padding: 1rem;
color: #fff;
background-color: #000;
border: none;
font-size: 0.7rem;
cursor: pointer;
}

.Contact{
  width: 100%;
  box-sizing: border-box;
  padding: 20px 100px;
}
.Contact .contact-items{
  box-shadow: 0 30px 70px rgba(1,15,28,.1);
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
  box-sizing: border-box;
  padding: 30px;


}
.Contact .contact-items .form{
display: flex;
flex-direction: column;
gap: 10px;

}
.Contact .contact-items .form .horizontal{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 30px;

}
.Contact .contact-items .form .fr{
display: flex;
flex-direction: column;
gap: 10px;
font-size: 0.8rem;

}
.Contact .contact-items .form .fr .title{
  display: flex;
  gap: 10px;
}
.Contact .contact-items .form .fr .title #imp{
 color: red;
}
.Contact .contact-items .form .fr .title #subtitle{
color: var(--opacity);
}
.Contact .contact-items .form .fr  input, .Contact .contact-items .form .fr textarea{
padding: 14px;
border: 1px solid var(--opacity-border);
outline: none;
}
.Contact .contact-items .form .fr textarea{
resize: none;
height: 100px;
}
.Contact .contact-items .info {
display: flex;
flex-direction: column;
gap: 10px;
box-sizing: border-box;
padding:30px 20px;
font-size: 0.9rem;
}
.Contact .contact-items .info .in{
  border: 1px solid #d3cccc;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  gap:20px;
  align-items: center;
}
.Contact .contact-items .info .in i{
  font-size: 1.5rem;
  color: #4e4e4e;
}
.Contact .contact-items .info .media{
justify-content: center;
}

.SlideCategories{
  position: absolute;
  background-color: #fff;
  color: #000;
  width: 200px;
  top: 55px;
  box-shadow: 0 10px 9px rgba(0, 0, 0, 0.05);
  left: -20px;
  height: 0;
  overflow: hidden;
  transition: 0.2s;
}
body.SlideCategoriesac .SlideCategories{
  height: 240px;
}
.SlideCategories ul{
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  list-style: none;  
  display: flex;
  flex-direction: column;
  align-items: start;

}
.SlideCategories ul li{
  padding: 12px;
  box-sizing: border-box;
display: flex;
align-items: center;
justify-content: space-between;
 width: 100%;
}
.mySwiper{
  margin-top: 80px;
}
.IntroductMobile{
  width: 100%;
  height: 400px;
  max-height: 500px;
  position: relative;
}
.slideiamge{
  width: 100%;
  height: 100%;
}
.IntroductMobile .shopnow{
 padding: 15px 20px;
 box-sizing: border-box;
 background-color: var(--backgroundP);
 color: #fff;
 border:none;
 border-radius:20px;
 box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
}
.IntroductMobile .shopce{
 position: absolute;
 bottom: 40px;
 display: flex;
 justify-content: center;
 width: 100%;
}
.placeorder {
margin-top: 10px;
}
.placeorder #btn{
  padding: 10px;
  width: 100%;
  border: none;
  background: var(--backgroundP);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.mobilevisible{
  display: none;
}

.SlideMenu{
  position: fixed;
  height: 100%;
  top: 0px;
  background: #fff;
  z-index: 999;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px 0px;
  width: 0px;
  overflow: hidden;
  transition: 0.3s;
}
body.SlideMenuac .SlideMenu{
  width: 100%;
  padding: 20px 20px;
}
.SlideMenu .topmenu{
display: flex;
flex-direction: column;
gap: 50px;
}
.SlideMenu .topmenu .limenu{
display: flex;
align-items: center;
gap: 10px;
padding:15px 10px;
box-sizing: border-box;
border-bottom:1px solid var(--opacity-border);
}
.SlideMenu  .more{
  width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}
.SlideMenu  .more button{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: none;
}
.SlideMenu  .more button i{
  font-size: 1rem;
}
.headerMenu{
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}
 .headerMenu .close{
width: 30px;
height: 30px;
display: flex;
justify-content: center;
align-items: center;
border: none;
background: #e9e5e5af;
font-size: 1.5rem;
}
.SlideMenu .ulmenu{
list-style: none;
margin: 0;
padding: 0;
}
 .logol{
width: 20px;
height: 15px;
}
.SlideSearch{
  position: fixed;
  height: 0;
  width: 100%;
  top: 0px;
  background: #fff;
  z-index: 999;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  padding: 0px 20px;
  overflow: hidden;
  transition: 0.3s;
}
.SlideSearch .search{

position: relative;
}
.SlideSearch input{
  padding: 14px 10px;
  border: 1px solid #bbb7b7c9;
  width: 100%;
  box-sizing: border-box;
}
.SlideSearch #ic{
  padding: 14px 10px;
  box-sizing: border-box;
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  
}
body.SlideSearchAc .SlideSearch{
  height: 100%;
  padding: 20px 20px;
}
 .SlideSearch .reasultsearch ul{
margin: 0;
padding: 0;
list-style: none;

}
 .SlideSearch .reasultsearch ul li{
padding: 10px;
box-sizing: border-box;
}

.AddToCart{
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #00000078;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events:none;
  opacity: 0;
  transition: 0.2s;
}
body.AddtocartAc .AddToCart{
  pointer-events:auto;
  opacity: 1;
}


.AddToCart .containerAdd{
  width: 40%;
  height: 80%;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  transform: translateY(-20px);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y:scroll ;
 
}
.AddToCart .containerAdd::-webkit-scrollbar{
  display: none;
}
.AddToCart .containerAdd .choose{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;

}
.AddToCart .containerAdd .choose #addto{
padding: 10px;
display: flex;
align-items: center;
justify-content: center;
background: none;
color: #000000;
gap: 10px;
border: 1px solid #000000b0;
font-size: 0.8rem;
cursor: pointer;
transition: 0.2s;
}
.AddToCart .containerAdd .choose #addto:hover{
  background: var(--backgroundP);
  color: #fff;
}
.AddToCart .containerAdd  .showdetail:hover{
  background: var(--backgroundP);
  color: #fff;
}
.AddToCart .containerAdd .choose #addto i{
  font-size: 1rem;
  cursor: pointer;
}
.AddToCart .containerAdd .choose .qte {
 display: flex;
 align-items: center;
}
.AddToCart .containerAdd .choose .qte .qt{
width: 30px;
height: 30px;
display: flex;
align-items: center;
justify-content: center;
border: none;
cursor: pointer;
}
.AddToCart .containerAdd .choose .qte .qt .conQte{
display: flex;
flex-direction: column;
}
.AddToCart .containerAdd .secC{
font-size: 0.9rem;
}
.AddToCart .containerAdd .instock{
color: rgb(11, 156, 11);
}
.AddToCart .containerAdd .showdetail{
padding: 10px;
border: none;
width: max-content;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
}
.AddToCart .containerAdd .choose .qte span{
width: 30px;
height: 30px;
display: flex;
align-items: center;
justify-content: center;
}
.AddToCart .containerAdd .bellow{
  box-sizing: border-box;
  padding: 0px 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body.AddtocartAc .containerAdd{
  transform: translateY(0px);
}
.AddToCart .chooseimages{
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.AddToCart .chooseimages .img{
  width: 40%;
}
.AddToCart .bellow .name{
display: flex;
justify-content: space-between;
align-items: center;

}
.AddToCart .bellow .name span{
 font-weight: bold;
 font-size: 1.2rem;

}

.AddToCart .containerAdd {
display: flex;
flex-direction: column;
gap: 10px;
}
.AddToCart .containerAdd .headAdd{
width: 100%;
display: flex;
justify-content: end;
}
.AddToCart .containerAdd .headAdd #btn{
border: none;
font-size: 1.3rem;
background: none;
cursor: pointer;
}
.Login{
  display: grid;
  grid-template-columns: 30% 70%;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  
}
.Login .loginform{
background: var(--background1);
display: flex;
align-items: center;
justify-content: center;
color: #fff;
  
}
.Login .loginform .conatinerform{
height: 70%;  
width: 80%;
display: flex;
flex-direction: column;
gap: 10px;
align-items: center;
}
.Login .loginform .conatinerform .forgetpass{
display: flex;
justify-content: space-between;

}
.Login .loginform .conatinerform .head{
display: flex;
gap: 10px;
}
.Login .loginform .conatinerform .check{
display: flex;
gap: 10px;
}
.Login .loginform .conatinerform .inputs{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-size: 0.8rem;
}
.Login .loginform .conatinerform .inputs input{
padding: 10px;
background: var(--background1);
border: 1px solid green;
}
.Login .loginform .conatinerform .inputs input:focus{
  outline:1px solid #0f83dc;
}
.Login .loginform .conatinerform .inputs #sign{
padding: 10px;
background: #0b63a7;
border: none;
color: #fff;
cursor: pointer;
display: flex;
align-items: center;
gap: 7px;
justify-content: center;
}
.Login .loginform .conatinerform .inputs input::placeholder{
  color: #8297a2;
}
.Login .loginform .conatinerform .inputs #imp{
color: red;
}

.Login .loginform #below{
width: 100%;
text-align: center;
}
.Login .background{
height: 100vh;
width: 100%;
position: relative;
}
.Login .row{
display:flex;
flex-direction: column;
gap: 10px;
color: #ffffffce;

}

.Login .background .backimage{
height: 100%;
}

.Login .background .copy{
position: absolute;
bottom:10px;
color: #fff;
width: 100%;
height: 100%;
background-color: #0000007f;
}
.Login .background .cop{
position: absolute;
bottom:10px;
right: 20px;
color: #fff;

}
.Login .background .cop h2{
  padding: 0;
  margin: 0;
}
.Cardofreviews{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.Cardofreviews .Cardofreview{
 display: flex;
 flex-direction: column;
 gap: 10px;
 border: 1px solid var(--yellow);
 box-sizing: border-box;
 padding: 20px;
 border-radius: 20px;
 transition:0.2s;
 cursor: pointer;
}
.Cardofreviews .Cardofreview:hover{
  transform: scale(1.05);
}
.Cardofreviews .Cardofreview #name{
font-weight: bold;
}
.Cardofreviews .Cardofreview #desc{
font-size: 0.8rem;
color: #0000008d;
}
.Cardofreviews .Cardofreview .reviewsC i{
color:#fcb444;
}
.Cardofreviews .profile{
 display: flex;
 gap: 10px;
 align-items: center;
}
.Cardofreviews .profile .info{
 display: flex;
 flex-direction: column;
 font-size: 0.8rem;

}
.Cardofreviews .profile .logo{
width: 60px;
height: 60px;
border-radius: 50%;
overflow: hidden;
}

/* animation */
.move{
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: 0.5s all ease;
}

.move.active{
  transform: translateY(0);
  opacity: 1;
}
.SingleProduct{
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  gap: 30px;
  margin: 60px 0px;
  
}
.SingleProduct .elements{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
  align-items: center;

}
.Tags .listtags{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.Tags .listtags .tag{
  display: flex;
  gap: 5px;
  align-items: center;
}
.Tags .listtags #deletetag{
border: none;
width: 17px;
height: 17px;
display: flex;
align-items: center;
justify-content: center;
background: rgba(210, 138, 138, 0.367);
font-size: 0.8rem;
padding: 0;
margin: 0;
cursor: pointer;
}

.Shopcard{
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
  direction: ltr;
}
.Shopping .cards{
display: flex;
flex-direction: column;
gap: 10px;
position: relative;
height: 50vh;
overflow-y: scroll;
}
.Shopping .cards::-webkit-scrollbar{
  display: none;
}
.Shopcard .image{
  width: 55px;
  padding: 5px;
  box-sizing: border-box;
  background-color: #e1dcdc5e;
}
.Shopcard .info{
font-size: 0.8rem;
display: flex;
flex-direction: column;
gap: 3px;
}
.Shopcard .info span{
font-weight: bold;

}
.Shopcard .info .qte{
display: flex;
align-items: center;

}
.Shopcard .info .qte .qt{
width: 25px;
height: 25px;
display: flex;
align-items: center;
justify-content: center;


}
.Shopcard .info .qte .y{
  background: none;
  border: 1px solid var(--opacity-border);
  cursor: pointer;
  transition: 0.2s;
}
.Shopcard .info .qte .y:hover{
background: #e1dfdf;
}
.containerList{
  width: 100%;


}
.containerList .formcheckout{

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.containerList .formcheckout .form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.containerList .formcheckout .info{
font-size: 0.9rem;
font-weight: bold;

}
.containerList .formcheckout .form input{
  padding: 8px;
  border: 1px solid var(--opacity-border);
}
.containerList .formcheckout .form #send{
padding: 8px;
border: 1px solid var(--opacity-border);
background-color: #000;
color: #fff;
cursor: pointer;
transition: 0.2s;
}
.containerList .formcheckout .form #send:hover{
  background-color: #000000cf;
}
.Logoblack img{
  width: 100px;
}


/* new css  */
.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7986CB;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}
.loadingcontainer{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.messagepage{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.messagecard{
display: flex;
flex-direction: column;
gap: 10px;
align-items: center;
}
.messagecard .imageM{
width:50%;
}
.messagecard #btnM{
padding: 8px;
background: var(--backgroundP);
color: #fff;
border: none;
cursor: pointer;
}
.Whatsapp{
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  background: none;
  overflow: hidden;
  position: fixed;
  z-index: 99;
  left: 20px;
  bottom: 80px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}
.Whatsapp:hover{
  transform: scale(1.1);
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media (min-width: 1200px) {

}
/* Media query for screens smaller than 600px */
@media screen and (max-width: 600px) {
.Topheader{
  display: none;
}
.mobilevisible{
  display: flex;
}
.Header{
  position: fixed;
  top: 0;
  width: 100%;
  
}
.Header .part img{
  flex: 1;
  }
#scrollupbtn{
display: none;
}
.Introduct{
  display: none;
}
.Header .ul{
  gap: 10px;
}
.Subscribe .itemS{
  flex-direction: column;
    justify-content: start;
    gap: 10px;
    align-items: start;
    padding:  30px 20px;
    
  }
  .Subscribe .subs{
    display: flex;
    width: 100%;
    }
.Header .mobilehidden{
display: none;
}
.Header .lan{
display: none;
}
  /* .Homepage .containerHome{
display: none;
   } */
 
  body.shoppingAc .Shopping .cardsSh{
    padding: 20px 20px;
    width: 100%;
  }
  .Homepage .containerProducts{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
   
  }
  .Homepage .containerHome{
   
     padding: 10px;

   }
   .Footer .copyright{
    font-size: 0.8rem;
    text-align: center;
   }
   .Footer .copyright ul{
    width: 100%;
    justify-content: center;
    
  }
   .Footer .copyright ul .logoll{
    transform: translateY(-1px);
  }
   .Homepage .Products  .headproducts{
    display: none;
  }
  .ReviewsC .ReviewT{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
  }
  .Homepage .Guides{
    margin-top: 30px;
  
    }
  .Homepage .Guides ul{
   padding: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
  
    }
    .Homepage .Guides ul #li{
    
      border-bottom:1px solid #908b8b7c;
      border-right:none;

      
      
      }
    .Homepage .Guides ul li{
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 60%;
      padding:15px 10px;
      
      
    }
    .Footer {
      margin-top: 10px;
    }
    .Footer  ul{
      box-sizing: border-box;
      padding: 20px 20px;
    }
    .Footer .top{
      padding: 20px 20px;
      box-sizing: border-box;
   
    }
   .Footer .categoriescollections{
      padding: 20px 30px;
      box-sizing: border-box;
   
    }
    .Footer .introSite {
      width: 100%;
     
    }


    /* blogs */
    .ContainerBlogs{
      padding: 20px 20px;
      font-size: 1.2rem;
      /* topfromhedaer */
      margin-top: 80px;

    }
    .ContainerBlogs .ContainerB{
      grid-template-columns: 100%;
     }
     .ContainerBlogs .ContainerB .Blogs{
      grid-template-columns: repeat(1,1fr);
      gap: 30px;
     }
     .ContainerBlogs  .Categories ul{
      font-size: 1rem;
     }
     .ContainerBlogs  .Categories ul li{
      padding: 10px;
      box-sizing: border-box;
     }
     .ContainerBlogs .SideBlog .searchblog{
      display: none;
     }
     .ContainerBlogs .SideBlog .aboutbloger{
      gap: 10px;
     }

     .Contact{
      padding: 20px 20px;
    }
    .Contact .contact-items{
      grid-template-columns: 100%;
    }
    .Contact .contact-items .form .horizontal{
      grid-template-columns: repeat(1,1fr);
      
      }
      .Contact .contact-items .info {

        padding:30px 0px;

        }
        .Homepage .Product .image .addto{
          display: flex;
        }
        .AddToCart .containerAdd{
          width: 90%;
          height: 80%;
          background-color: #fff;
          border-radius: 10px;
          box-sizing: border-box;
          padding: 10px;
          transform: translateY(-20px);
          transition: 0.3s;
        }
        .Login{

          grid-template-columns: 100%;

          
        }
        .Login .background{
          display: none;
          }
          .AddToCart .containerAdd .bellow{
  
            padding: 0px 20px;

          }
          .AddToCart .chooseimages .img{
            width: 50%;
          }
          .Cardofreviews{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 20px;
          }

          .SingleProduct {
            margin-top: 150px;
          }
          .SingleProduct .elements{
            width: 90%;
          }
          .Subscribe::before{
            bottom: -30px;
          }
}

